@model TaskApp.View.Models.TaskModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <span>Task Successfully Added!</span>
        </div>
    </section>


}




