<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Leo\Documents\GitHub\Packages\TaskApp\TaskApp.View.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>TaskApp</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="taskDomainDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=tasksDB;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=.;Initial Catalog=tasksDB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TaskApp.Domain.taskDomainDBEntities, TaskApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)taskDomainDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TaskDomainModel.csdl|res://*/TaskDomainModel.ssdl|res://*/TaskDomainModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=tasksDB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>